{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>forms</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{% static 'home/base.css' %}">
</head>
<body>
    <!--navigation bar-->
    <div class="topnav">
        <div class="navbtn">
            <a href="#">Home</a>
            <a href="#">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" style="float: right;">Log Out</a>
            {% else %}
                <a href="{% url 'login' %}" style="float: right;">Log In</a>
                <a href="{% url 'registeration' %}" style="float:right;">Register</a>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>