{% extends 'home/base.html' %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit"> Log In </button>
    </form>
    <div>
        <a style="font-size: x-small; color:lightblue" href="{% url 'registeration' %}"> Need An Account ? </a>
    </div>
    <div>
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
    </div>

{% endblock content %}