{% extends 'home/base.html' %}

{% block content %}

    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name">
            <input type="text" name="username" placeholder="username">
            <input type="email" name="email" placeholder="email">
            <!--input type="text" name="phone_number" placeholder="number"-->
            <input type="password" name="password" placeholder="password">
            <input type="password" name="confirm_password" placeholder="confirm password">
            <button type="submit"> Register </button>
        </form>
    </div>
    <div>
        <a style="font-size: x-small; color:lightblue" href="{% url 'login' %}"> Already Have An Account ? </a>
    </div>
    <div>
        {% for message in messages %}
            <h3> {{message}} </h3>
        {% endfor %}
    </div>

{% endblock content %}