.topnav{
    width: 100%;
    background-color: salmon;
    overflow: hidden;
}
.topnav a{
    display: inline-block;
    border-style: none;
    float: left;
    padding: 15px;
    margin: 0;
    color: red;
}

.topnav a:hover{
    background-color: yellowgreen;
    color: red;
}